version: "2"
services:
  liquibase-db:
    container_name: liquibase-db
    image: bitnami/postgresql:12
    environment:
      POSTGRES_DB: "liquibase"
      POSTGRES_USER: "liquibase"
      POSTGRES_PASSWORD: "liquibase"
      DISABLE_WELCOME_MESSAGE: "true"
    ports:
      - "5432:5432"
    networks:
      - test
  quarkus-liquibase-test:
    container_name: quarkus-liquibase-test
    image: quarkus-liquibase-test:latest
    environment:
      QUARKUS_LIQUIBASE_CLEAN_AT_START: "true"
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://liquibase-db:5432/liquibase?sslmode=disable
    ports:
      - "8080:8080"
    networks:
      - test
networks:
  test:
